body {
  margin: 0;
  padding: 0;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  overflow: hidden;
}
.gallery {
  width: 100%;
  max-width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.btn {
  width: 50px;
  height: 50px;
  border: 2px solid rgba(165, 165, 165, 0.192);
  background: rgba(165, 165, 165, 0.288);
  border-radius: 50%;
  backdrop-filter: blur(6px);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transform: translateY(-50%);
  transition: all 0.3s ease;
  position: absolute;
  top: 50%;
  z-index: 12;
}
.btn img {
  width: 28px;
}
.btn:hover {
  background: rgba(165, 165, 165, 0.288);
  border-color: rgba(165, 165, 165, 0.488);
}

.frontView {
  width: 100%;
  overflow: hidden;
  /* used for blur on the left and right edges */
  -webkit-mask-image: linear-gradient(
    to right,
    transparent 0%,
    black 15%,
    black 85%,
    transparent 100%
  );
  mask-image: linear-gradient(
    to right,
    transparent 0%,
    black 15%,
    black 85%,
    transparent 100%
  );
}

.galleryView {
  display: flex;
  align-items: center;
  /* for animation "slide" */
  transition: transform 0.6s cubic-bezier(0.25, 1, 0.5, 1);
}
.galleryView.transitionnone {
  transition: none;
}
.gallery-images {
  cursor: pointer;
  flex: 0 0 60vw;
  margin: 0 3vw;
  opacity: 0.3;
  transform: scale(1);
  transition: all 0.6s cubic-bezier(0.25, 1, 0.5, 1);
}
.gallery-images.active {
  opacity: 1;
  transform: scale(1.2);
}
.gallery-images img {
  width: 98%;
  /* border-radius: 24px; */
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
  display: block;
}
.prev {
  left: 5vw;
}
.next {
  right: 5vw;
}
